.p-dialog-mask {
   .p-dialog {
      .p-dialog-header {
         background: var(--uvalib-teal-lightest);
         border-bottom: 1px solid var(--uvalib-teal-light);
         border-radius: 4px 4px 0 0;
         margin-bottom: 25px;
      }
   }
}

.p-togglebutton.p-togglebutton-checked::before  {
   background: var(--uvalib-brand-blue-light) !important;
}
.p-togglebutton.p-togglebutton-checked  {
   span.p-togglebutton-label {
      color: white !important;
   }
}

.sticky {
   position: fixed;
   z-index: 1000;
   top: 0;
   div.p-paginator.p-component {
      border-bottom: 1px solid var(--uvalib-grey-light);
   }
}