.p-component-overlay {
   .p-dialog {
      width:650px;
      .p-dialog-header {
         padding: 5px 10px;
         background: var(--uvalib-teal-lightest);
         border-bottom: 1px solid var(--uvalib-teal-light);
         .p-dialog-title {
            font-size: 1em;
         }
      }
      .p-dialog-content {
         padding: 15px 15px 10px 15px;
      }
      .p-dialog-footer {
         padding: 5px 15px 15px 15px;
      }
   }
}

.p-listbox-list-wrapper {
   height: 300px;
   .p-listbox-item.p-highlight {
      background: var( --uvalib-teal-lightest);
   }
}

button.p-button, .p-fileupload.p-fileupload-basic.p-component {
   font-family: inherit;
   font-size: 100%;
   text-decoration: none;
   margin: 0;
   border-radius: 5px;
   font-weight: 400;
   cursor: pointer;
   color: #ffffff;
   background-color: var(--uvalib-brand-blue-light);
   border: 1px solid var(--uvalib-brand-blue-light);
   margin: 0;

   &:hover {
      background-color: var(--uvalib-brand-blue-lighter);
      border: 1px solid var(--uvalib-brand-blue-lighter);
      transition: all 0.3s ease;
   }

   &:focus {
      outline: 3px dotted var( --uvalib-accessibility-highlight );
      outline-offset: 3px;
   }
   .p-fileupload-choose {
      background: none;
      border: 0;
      padding: 0;
      .p-button-icon.p-button-icon-left {
         display: none;
      }
      &:focus {
         box-shadow: none;
      }
   }
}

button.p-button.p-disabled {
   opacity: 0.4;
}

button.p-button.p-button-secondary {
   background-color: var(--uvalib-grey-lightest);
   border: 1px solid var(--uvalib-grey);
   color: #000;
   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1))) !important;
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) !important;
      background-color: var(--uvalib-grey-lightest) !important;
      color: #000 !important;
   }
}

button.p-button.p-button-danger {
   background-color: #cf6161;
   border: 1px solid var( --uvalib-red-darker);
   color: white;
   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1))) !important;
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) !important;
      background-color: #ff8181 !important;
   }
}

button.p-button.p-button-text {
   padding: 0;
   background: none;
   border: none;
   color: var(--uvalib-blue-light);
   font-weight: 500;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}

.sticky {
   position: fixed;
   z-index: 1000;
   top: 0;
   div.p-paginator.p-component {
      border-bottom: 1px solid var(--uvalib-grey-light);
   }
}